<div class="jumbotron">
    <h1 class="display-4">Welcome to Fanter!</h1>
    <p class="lead">The best place to talk about your favorite movies and TV shows!</p>
    <hr class="my-4">
    <p>Please create a username and password! (I suggest you use a different password than you use for important
        websites as this website does not currently support password encryption.)</p>
    <form class="create-form">
        <div class="form-group">
            <label for="exampleFormControlInput1">Username: </label>
            <input type="text" class="form-control" placeholder="TheZuck" id="username">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Password</label>
            <input type="text" class="form-control" placeholder="Password123" id="password">
        </div>
        <a class="btn btn-primary btn-lg" href="/main" id="loginbtn" role="button">Login</a>
    </form>
</div>